<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:fragment="header">
    <div class="header">
        <h1>My Website</h1>
        <p>A website created by me.</p>
    </div>
    <div class="navbar">
        <a th:href="@{/ownerList}">주인</a>
        <a th:href="@{/petList}">애완동물</a>
        <a th:href="@{/calender}">달력</a>
        <a th:href="@{/schedule/schList}">스케줄</a>
        <a th:href="@{/schedule/schadd}">스케줄</a>
        <a th:href="@{/schedule/newPet}">스케줄</a>
    </div>
</div>
</body>
</html>
