<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:fragment="header">
    <div class="navbar">
        <a th:href="@{/owners/ownerList}">주인</a>
        <a th:href="@{/pets/petList}">애완동물</a>
        <a th:href="@{/calendar}">달력</a>
        <a th:href="@{/schedule/schList}">스케줄</a>
        <a th:href="@{/outcome}">매출</a>
        <a th:href="@{/pets/petadd}">신규등록</a>
        <a th:href="@{/schedule/schAdd}">예약</a>
    </div>
</div>
</body>
</html>