{{>common/header}}
<div class="main">
    <form action="petadd" method="post">
        <label for="petName">이름:</label>
        <input type="text" id="petName" name="petName" required><br>

        <label for="petBreed">품종:</label>
        <input type="text" id="petBreed" name="petBreed"><br>

        <label for="petGender">성별:</label>
        <input type="text" id="petGender" name="petGender"><br>

        <label for="petAge">나이:</label>
        <input type="text" id="petAge" name="petAge"><br>

        <label for="petWeight">체중:</label>
        <input type="text" id="petWeight" name="petWeight"><br>

        <label for="ownerId">소유자 ID:</label>
        <input type="number" id="ownerId" name="ownerId"><br>

        <label for="shopId">가게 ID:</label>
        <input type="number" id="shopId" name="shopId"><br>

        <label for="petNotes">메모:</label>
        <input type="text" id="petNotes" name="petNotes"><br>

        <input type="submit" value="추가하기">
    </form>
</div>
{{>common/footer}}