/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}




/* Navbar */
.navbar {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 로고와 메뉴 양쪽 배치 */
    background-color: #FAE7ED;

}

/* 네비게이션 링크 */
.nav-links {
    display: flex;
    gap: 15px; /* 메뉴 간격 조절 */
    align-items: center;
     text-decoration: none;
}

/* 로고 스타일 */
.logo {
    height: 80px; /* 크기 조정 */
    width: auto;
    margin-left: 20px;
}

/* 반응형 스타일 */
@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
    .logo {
        margin: 10px 0;
    }
}


@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
