{{>common/header}}
<div class="main">
    <h1>펫 리스트</h1>
    <form action="/petSearch" method="get">
        <input type="text" name="search" value="" placeholder="반려동물 검색...">
        <button type="submit">검색</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>품종</th>
            <th>성별</th>
            <th>나이</th>
            <th>체중</th>
            <th>소유자 ID</th>
            <th>가게 ID</th>
            <th>메모</th>
        </tr>
        </thead>
        <tbody>
        {{#pets}}
            <tr>
                <td>{{petId}}</td>
                <td>{{petName}}</td>
                <td>{{petBreed}}</td>
                <td>{{petGender}}</td>
                <td>{{petAge}}</td>
                <td>{{petWeight}}</td>
                <td>{{ownerId}}</td>
                <td>{{shopId}}</td>
                <td>{{petNotes}}</td>
            </tr>
        {{/pets}}
        </tbody>
    </table>

    {{#prevPage}}
        <a href="?page=0&size=10"> ≪ </a>
        <a href="?page={{prevPage}}&size=10"> < </a>
    {{/prevPage}}
    <span>Page {{currentPage}} of {{totalPages}}</span>
    {{#nextPage}}
        <a href="?page={{nextPage}}&size=10"> > </a>
        <a href="?page={{lastPage}}&size=10"> ≫ </a>
    {{/nextPage}}

</div>

{{>common/footer}}