<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>파일 업로드</title>
</head>
<body>
<h1>사진 업로드</h1>
<form method="POST" enctype="multipart/form-data" action="/upload/photo">
    <input type="file" name="file" required />
    <button type="submit">업로드</button>
</form>

<div>
    <h3 th:text="${message}"></h3>
    <img src="https://objectstorage.ap-chuncheon-1.oraclecloud.com/n/ax6zqcd108vv/b/dodam/o/00101a09-c979-4128-b7b2-4e6c9190a7c8_IMG_2024-10-03-02485553.jpg" alt="이미지 설명" />

</div>
</body>
</html>
